body{
    margin: 0;
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 550px;
    padding-bottom: 120px;
}

.navbar{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 34px;
}


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.navbar h3{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
    color: #4E47FE;
}

.primary-btn{
    font-size: 16px;
    background-color: #4E47FE;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border-style: none;
    border-radius: 5px;
    padding: 15px 25px;
}
.banner{
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner-title{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 240px;
    margin: 80px 125px;
} 
.action-img{
    border-radius: 30px;
    width: 403px;
    
}
.action-header{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-description{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
/* style for productive user section */
.productive-user{
    background-color: rgba(78, 71, 254, 0.1);
    border-radius: 15px;
    margin: 50px 125px;
    padding: 30px 140px;
}
.productive-user-title{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #252432;
}
.productive-user-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.productive-user-contents h1{
    color: #4E47FE;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.productive-user-contents p{
    color: rgb(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.productive-user-contents h1, p{
    margin: 5px 0px;
    padding: 0;
}
/* end productive user section */

/* start git section */

/* .git{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 50px 125px;
    padding: 30px 0px;
}
.git-title{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #000000;
} */
/* .git-form input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; 
    
} */
/* .git-btn{
    width: 100%;
    color: white;
    background-color: #4E47FE;
    border-style: none;
    border-radius: 5px;
    padding: 15px 20px;
} */


.git{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 125px;
}
.git-title{
    width: 528px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #000000;
}
.git-form{
    width: 500px;
    padding: 10px;
    border-radius: 5px; 
}

.git-form input{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}
input::placeholder{
    color: rgb(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
label{
    color: #000000;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


footer{
    text-align: center;
}
footer ul li{
    list-style-type: none;
    
}
footer ul li a{
    text-decoration: none;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* start users feedback section */

.Users-feedback{
    padding: 30px;
}

.Users-feedback-title{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.user-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    
}

.user-item{
    border: 1px solid #F2EDED;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-detailes, h5, p{
    margin: 8px 0px;
    padding: 0;
}
/* start users feedback section */